.back {
	z-index: -1;
}
.hide {
	display: none;
}

#login-form {
	position: absolute;
}
#game-div {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

#username {
	width: 35vh;
	height: 7vh;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 10px;
	background: white;
	border: 0;
	font-size: 3vh;
	padding: 10px;
}
#username::-webkit-input-placeholder {
	color: rgb(120, 201, 44);
}

#play {
	position: absolute;
	height: 5vh;
    width: 20vh;
	left: calc(50vw + 45vh);
	top: 50vh;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: white;
	border: 0;
	font-size: 3vh;
}

#splitter {
    background: white;
	position: relative;
	width: 15vh;
    height: 7vh;
    top: 66vh;
    left: 50vw;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	padding-left: 10px;
	font-family: Arial;
}
#container {
	position: absolute;
	right: 0;
	height: 100%;
	width: 4vh;
	border-left: 2px solid rgb(120, 201, 44);
	font-size: 3vh;
}

#bottom {
	position: absolute;
	height: 50%;
	width: 105%;
	line-height: 4vh;
	bottom: 0;
	left: -1px;
	border-top: 1px solid rgb(120, 201, 44);
	border-bottom-right-radius: 100px;
}
#top {
	position: absolute;
	height: 50%;
	width: 105%;
	line-height: 3vh;
	top: 0;
	left: -1px;
	border-bottom: 1px solid rgb(120, 201, 44);
	border-top-right-radius: 100px;
}
#top:hover {
	background: rgb(120, 201, 44);
}
#bottom:hover {
	background: rgb(120, 201, 44);
}

#caption {
	position: absolute;
	top: 0px;
	height: 100%;
	width: calc(100% - 32px);
	font-size: 3vh;
	line-height: 7vh;
}
