html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial;
}
.back {
  z-index: -1;
}
.hide {
  display: none;
}
#login-form {
  position: absolute;
}
#game-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#scoreboard {
  position: absolute;
  width: 150px;
  height: 200px;
  background: rgba(170, 170, 170, 0.5);
  right: 0px;
  top: 0px;
}
#username {
  width: 35vh;
  height: 7vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
  background: #eee;
  border: 0;
  font-size: 3vh;
  padding: 10px;
  outline: none;
}
#username::-webkit-input-placeholder {
  color: rgb(120, 201, 44);
}
#chosen {
  width: 100px;
  height: 10px;
  position: absolute;
  top: 81.5vh;
  color: #eeeeee;
  transform: translate(-50%,-50%);
  left: 50vw;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
#play {
  position: absolute;
  height: 100px;/*5vh;*/
  width: 350px;/*30vh;*/
  /*left: calc(50vw + 45vh);
  top: 50vh;
  transform: translate(-50%, -50%);*/
  border-radius: 10px;
  border: 0;
  font-size: 40px;/*3vh;*/
  background: #36441b;
  color: white;
}
#play:hover {
  background: rgb(120, 201, 44);
}
.link {
  position: relative;
  border-radius: 100px;
  padding: 7px;
  text-decoration: none;
  color: black;
  font-family: arial;
  top: 8px;
  margin: 2px;
}
.button {
  background: #eee;
  color: black;
  font-family: arial;
  text-decoration: none;
}
.button:hover {
  background: rgb(120, 201, 44);
}
.content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 35px;
  line-height: 40px;
  font-family: Arial, sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}
.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
p {
  display: inline;
  float: left;
  margin: 0;
}
ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
ul li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-33%);
  }
  66% {
    transform: translateY(-66%);
  }
}
@keyframes change {
  0%, 100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-33%);
  }
  66% {
    transform: translateY(-66%);
  }
}
.text {
  position: absolute;
  top: 20%;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ecf0f1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}
a {
  color: #2196f3;
}
#back {
  position: relative;
  top: 8px;
}
.shrink {
  transform: scale(.6);
}
.padding {
  border-radius: 100px;
  margin: 2px;
  padding: 7px;
}