html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.back { z-index: -1; }
.hide { display: none; }
#login-form {
  position: absolute;
  top: 0;
  left: 0;
}
#game-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#scoreboard {
  position: absolute;
  width: 170px;
  height: 260px;
  background: rgba(231, 241, 253, 0.9);
  right: 8px;
  top: 8px;
  padding: 8px;
  border-radius: 10px;
}
#score-title {
  text-align: center;
  height: 20px;
}
.score-element { height: 20px; }
.score-name { float: left; }
.score-value { float: right; }
#notifications {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}
.message {
  position: absolute;
  top: -100px;
  min-width: 100px;
  -webkit-animation: slideIn 0.5s ease-in-out 0s forwards, fadeOut 2s ease-in-out 2s forwards;
  animation: slideIn 0.5s ease-in-out 0s forwards, fadeOut 2s ease-in-out 2s forwards;
  background: rgba(231, 241, 253, 0.7);
  border-radius: 10px;
  padding: 10px;
  color: #59b224;
  text-shadow: 0 1px 0 #3f7f1a, 0 2px 0 #3f7f1a, 0 3px 0 #3f7f1a;
}
.kill {
  font-size: 40px;
  -webkit-animation: wobble 0.5s infinite;
  animation: wobble 0.5s infinite;
}
@keyframes slideIn {
  0% { top: -100px; }
  100% { top: 12vh; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes wobble {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
}
@keyframes wobble {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
}
hr {
  background: #888888;
  height: 2px;
  border: none;
  border-radius: 10px;
}
#username {
  width: 35vh;
  height: 7vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
  background: #eee;
  border: 0;
  font-size: 3vh;
  padding: 10px;
  outline: none;
}
#username::-webkit-input-placeholder { color: rgb(120, 201, 44); }
#chosen {
  width: 100px;
  height: 10px;
  position: absolute;
  top: 83.2vh;
  color: #eeeeee;
  transform: translate(-50%,-50%);
  left: 50vw;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
#play {
   position: absolute;
   height: 5vh;
   width: 20vh;
   left: calc(50vw + 43.1vh);
   top: 50vh;
   transform: translate(-50%, -50%);
   border-bottom-right-radius: 3vh;
   border-top-right-radius: 3vh;
   border: 0;
   font-size: 3vh;
   background: #78983d;
   color: white;
}
@media (min-aspect-ratio: 3/1) {
   #play {
     width: 6.67vw;
     left: 64.35vw;
   }
}
#play:hover { background: rgb(120, 201, 44); }
#play:focus { outline: none; }
#play:disabled { background: rgba(120, 201, 44, 0.5); }
.link {
  position: relative;
  border-radius: 100px;
  padding: 7px;
  text-decoration: none;
  color: black;
  font-family: arial;
  top: 8px;
  margin: 2px;
}
.button {
  background: #eee;
  color: black;
  font-family: arial;
  text-decoration: none;
}
.button:hover { background: rgb(120, 201, 44); }
.content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 35px;
  line-height: 40px;
  font-family: Arial, sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}
.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
ul li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes change {
  0%, 100% { transform: translateY(0); }
  33% { transform: translateY(-33%); }
  66% { transform: translateY(-66%); }
}
@keyframes change {
  0%, 100% { transform: translateY(0); }
  33% { transform: translateY(-33%); }
  66% { transform: translateY(-66%); }
}
.text {
  position: absolute;
  top: 20%;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ecf0f1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}
a { color: #2196f3; }
#back {
  position: relative;
  top: 8px;
}
.shrink { transform: scale(.6); }
.padding {
  border-radius: 100px;
  margin: 2px;
  padding: 7px;
}